* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(176deg, #CDB4B4 -40%, #FFFFFF 50%, #CDB4B4 125%); }

a, footer .ordenamiento .redes .celular p {
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal; }

li {
  list-style: none; }
  li:hover {
    transform: scale(1.1);
    transition: 0.2s; }
  li a, li footer .ordenamiento .redes .celular p, footer .ordenamiento .redes .celular li p {
    font-family: "Chela One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #FFC68F;
    font-size: 18px;
    text-transform: uppercase; }
    li a:hover, li footer .ordenamiento .redes .celular p:hover, footer .ordenamiento .redes .celular li p:hover {
      color: #D1FEF6; }

h1 {
  font-size: 50px; }
  h1:hover {
    transform: scale(1.1);
    transition: .2s ease; }
  h1 a, h1 footer .ordenamiento .redes .celular p, footer .ordenamiento .redes .celular h1 p {
    font-family: "Chela One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #FFC68F; }

h2 {
  text-align: center;
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #FFC68F;
  text-shadow: 0rem 0.125rem 0.3125rem black; }
  h2::selection {
    background-color: #644E4E; }

h3 {
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal; }
  h3::selection {
    color: white;
    background-color: #644E4E; }

h4 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal; }
  h4::selection {
    color: white;
    background-color: #644E4E; }

h5, footer .ordenamiento .derechos-autor a, footer .ordenamiento .derechos-autor .redes .celular p, footer .ordenamiento .redes .celular .derechos-autor p, footer .ordenamiento .horarios p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal; }
  h5::selection, footer .ordenamiento .derechos-autor a::selection, footer .ordenamiento .derechos-autor .redes .celular p::selection, footer .ordenamiento .redes .celular .derechos-autor p::selection, footer .ordenamiento .horarios p::selection {
    color: white;
    background-color: #644E4E; }

button {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal; }

p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal; }
  p::selection {
    color: white;
    background-color: #644E4E; }

header {
  width: 100%;
  height: 5rem;
  background-color: #644E4E;
  position: sticky;
  top: 0;
  z-index: 1000; }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: none;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 .9375rem; }
    header nav .logo h1 {
      margin: 0; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 25px;
      display: flex;
      margin: 0; }
      header nav ul li a .bx, header nav ul li footer .ordenamiento .redes .celular p .bx, footer .ordenamiento .redes .celular header nav ul li p .bx {
        font-size: 40px; }

main .section-carrusel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  display: flex; }
  main .section-carrusel .logocarrusel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
    display: flex;
    margin-bottom: 6.25rem; }
    main .section-carrusel .logocarrusel img {
      width: 31.25rem;
      height: auto; }
    main .section-carrusel .logocarrusel button {
      border: none;
      padding: .5rem 1.5625rem;
      color: #FFC68F;
      background-color: #644E4E; }
      main .section-carrusel .logocarrusel button:hover {
        background-color: white;
        color: black;
        transition: all .5s ease; }
  main .section-carrusel p {
    text-align: center;
    line-height: 1.4em;
    width: 45.625rem;
    font-size: 1.5rem; }

main .menu .subtitulos {
  font-size: 40px;
  text-transform: uppercase; }

main .menu .comidas section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  display: flex; }
  main .menu .comidas section .comida-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: none;
    display: flex;
    height: 25rem;
    width: 16.875rem;
    background: white;
    overflow: hidden;
    border: .625rem solid #644E4E;
    margin-bottom: 3.125rem;
    position: relative; }
    main .menu .comidas section .comida-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 68%;
      background-image: linear-gradient(to right, transparent 0%, white);
      transform: skewX(0.08turn) translateX(-180%); }
    main .menu .comidas section .comida-item:hover::after, main .menu .comidas section .comida-item:focus-within::after {
      transform: skew(0.08turn) translateX(275%);
      transition: 1000ms ease; }
    main .menu .comidas section .comida-item:hover img {
      transform: scale(1.1);
      transition: .1s linear; }
    main .menu .comidas section .comida-item img {
      height: 100%;
      width: 100%;
      background-color: #644E4E;
      margin-bottom: .625rem; }
    main .menu .comidas section .comida-item button {
      border: none;
      height: 2.5rem;
      width: 7.5rem;
      border-radius: .3125rem;
      padding: .3125rem .625rem;
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      background-color: grey;
      margin-bottom: .625rem; }
      main .menu .comidas section .comida-item button:hover {
        background-color: #00BA99;
        color: rgba(0, 17, 32, 0.829);
        transition: .2s ease; }

main .menu .bebidas section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  display: flex; }
  main .menu .bebidas section .bebida-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: none;
    display: flex;
    height: 25rem;
    width: 16.875rem;
    background: white;
    overflow: hidden;
    border: .625rem solid #644E4E;
    margin-bottom: 3.125rem;
    position: relative; }
    main .menu .bebidas section .bebida-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 68%;
      background-image: linear-gradient(to right, transparent 0%, white);
      transform: skewX(0.08turn) translateX(-180%); }
    main .menu .bebidas section .bebida-item:hover::after, main .menu .bebidas section .bebida-item:focus-within::after {
      transform: skew(0.08turn) translateX(275%);
      transition: 1000ms ease; }
    main .menu .bebidas section .bebida-item:hover img {
      transform: scale(1.1);
      transition: .1s linear; }
    main .menu .bebidas section .bebida-item img {
      height: 100%;
      width: 100%;
      background-color: #644E4E;
      margin-bottom: .625rem; }
    main .menu .bebidas section .bebida-item button {
      border: none;
      height: 2.5rem;
      width: 7.5rem;
      border-radius: .3125rem;
      padding: .3125rem .625rem;
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      background-color: grey;
      margin-bottom: .625rem; }
      main .menu .bebidas section .bebida-item button:hover {
        background-color: #00BA99;
        color: rgba(0, 17, 32, 0.747);
        transition: .2s ease; }

main .menu .combos section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  display: flex; }
  main .menu .combos section .combo-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: none;
    display: flex;
    height: 25rem;
    width: 16.875rem;
    background: white;
    overflow: hidden;
    border: .625rem solid #644E4E;
    margin-bottom: 3.125rem;
    position: relative; }
    main .menu .combos section .combo-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 68%;
      background-image: linear-gradient(to right, transparent 0%, white);
      transform: skewX(0.08turn) translateX(-180%); }
    main .menu .combos section .combo-item:hover::after, main .menu .combos section .combo-item:focus-within::after {
      transform: skew(0.08turn) translateX(275%);
      transition: 1000ms ease; }
    main .menu .combos section .combo-item:hover img {
      transform: scale(1.1);
      transition: .1s linear; }
    main .menu .combos section .combo-item img {
      height: 100%;
      width: 100%;
      background-color: #644E4E;
      margin-bottom: .625rem; }
    main .menu .combos section .combo-item button {
      border: none;
      height: 2.5rem;
      width: 7.5rem;
      border-radius: .3125rem;
      padding: .3125rem .625rem;
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      background-color: grey;
      margin-bottom: .625rem; }
      main .menu .combos section .combo-item button:hover {
        background-color: #00BA99;
        color: rgba(0, 17, 32, 0.747);
        transition: .2s ease; }

main .menu .ofertas section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  display: flex; }
  main .menu .ofertas section .oferta-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: none;
    display: flex;
    height: 25rem;
    width: 16.875rem;
    background: white;
    overflow: hidden;
    border: .625rem solid #644E4E;
    margin-bottom: 3.125rem;
    position: relative; }
    main .menu .ofertas section .oferta-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 68%;
      background-image: linear-gradient(to right, transparent 0%, white);
      transform: skewX(0.08turn) translateX(-180%); }
    main .menu .ofertas section .oferta-item:hover::after, main .menu .ofertas section .oferta-item:focus-within::after {
      transform: skew(0.08turn) translateX(275%);
      transition: 1000ms ease; }
    main .menu .ofertas section .oferta-item:hover img {
      transform: scale(1.1);
      transition: .1s linear; }
    main .menu .ofertas section .oferta-item img {
      height: 100%;
      width: 100%;
      background-color: #644E4E;
      margin-bottom: .625rem; }
    main .menu .ofertas section .oferta-item button {
      border: none;
      height: 2.5rem;
      width: 7.5rem;
      border-radius: .3125rem;
      padding: .3125rem .625rem;
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      background-color: grey;
      margin-bottom: .625rem; }
      main .menu .ofertas section .oferta-item button:hover {
        background-color: #00BA99;
        color: rgba(0, 17, 32, 0.747);
        transition: .2s ease; }

main .serv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  margin-bottom: 1.875rem; }
  main .serv .subtitulos {
    font-size: 30px;
    text-transform: uppercase; }
  main .serv div {
    width: 95%;
    font-size: 20px; }
  main .serv .terminos-y-condiciones {
    color: #FFC68F;
    text-shadow: 0px 2px 10px black; }

main .nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  display: flex;
  margin-bottom: 50px; }
  main .nosotros .subtitulos {
    font-size: 30px;
    text-transform: uppercase; }
  main .nosotros div {
    width: 95%;
    font-size: 20px; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  display: flex;
  height: 18.75rem;
  background-color: #644E4E; }
  footer button {
    border: none;
    padding: .3125rem .625rem;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(10, 28, 43, 0.897);
    background-color: #FFC68F;
    margin-top: 3.125rem; }
    footer button:hover {
      transform: scale(1.1);
      box-shadow: 3px 3px 2px black;
      background-color: #CDB4B4;
      color: black;
      transition: all .2s ease; }
  footer .ordenamiento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: none;
    padding: 0 30px 15px 30px;
    display: flex;
    width: 100%;
    height: 100%; }
    footer .ordenamiento .redes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: none;
      display: flex;
      font-size: 20px; }
      footer .ordenamiento .redes .ig, footer .ordenamiento .redes .twitter, footer .ordenamiento .redes .celular {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: none;
        display: flex; }
        footer .ordenamiento .redes .ig a, footer .ordenamiento .redes .twitter a, footer .ordenamiento .redes .celular a, footer .ordenamiento .redes .celular p {
          padding-top: .8125rem;
          color: #FFC68F; }
          footer .ordenamiento .redes .ig a::selection, footer .ordenamiento .redes .twitter a::selection, footer .ordenamiento .redes .celular a::selection, footer .ordenamiento .redes .celular p::selection {
            background-color: #FFC68F;
            color: #1a1d1c; }
        footer .ordenamiento .redes .ig:hover .bx, footer .ordenamiento .redes .twitter:hover .bx, footer .ordenamiento .redes .celular:hover .bx {
          color: white;
          text-shadow: .125rem .125rem .625rem black;
          transition: .4s ease; }
        footer .ordenamiento .redes .ig:hover a, footer .ordenamiento .redes .twitter:hover a, footer .ordenamiento .redes .celular:hover a, footer .ordenamiento .redes .ig:hover .celular p, footer .ordenamiento .redes .celular .ig:hover p, footer .ordenamiento .redes .twitter:hover .celular p, footer .ordenamiento .redes .celular .twitter:hover p, footer .ordenamiento .redes .celular:hover p {
          color: white;
          text-shadow: .125rem .125rem .625rem black;
          transition: .4s ease; }
      footer .ordenamiento .redes .celular p {
        padding-top: .8125rem;
        color: #FFC68F; }
      footer .ordenamiento .redes .celular:hover p {
        color: white;
        text-shadow: .125rem .125rem .625rem black;
        transition: .4s ease; }
      footer .ordenamiento .redes .bx {
        color: #FFC68F;
        font-size: 40px;
        padding: 0; }
    footer .ordenamiento .derechos-autor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: none;
      display: flex;
      font-size: 20px;
      padding-left: 3.75rem;
      color: white; }
      footer .ordenamiento .derechos-autor h5, footer .ordenamiento .derechos-autor a, footer .ordenamiento .derechos-autor .redes .celular p, footer .ordenamiento .redes .celular .derechos-autor p, footer .ordenamiento .derechos-autor .horarios p, footer .ordenamiento .horarios .derechos-autor p {
        width: 21.875rem;
        text-align: center; }
        footer .ordenamiento .derechos-autor h5::selection, footer .ordenamiento .derechos-autor a::selection, footer .ordenamiento .derechos-autor .redes .celular p::selection, footer .ordenamiento .redes .celular .derechos-autor p::selection, footer .ordenamiento .derechos-autor .horarios p::selection, footer .ordenamiento .horarios .derechos-autor p::selection {
          background-color: #FFC68F;
          color: #1a1d1c; }
      footer .ordenamiento .derechos-autor a, footer .ordenamiento .derechos-autor .redes .celular p, footer .ordenamiento .redes .celular .derechos-autor p {
        color: #FFC68F; }
        footer .ordenamiento .derechos-autor a:hover, footer .ordenamiento .derechos-autor .redes .celular p:hover, footer .ordenamiento .redes .celular .derechos-autor p:hover {
          color: white;
          text-shadow: .125rem .125rem .625rem black;
          transition: .2s ease; }
    footer .ordenamiento .horarios {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.3125rem;
      display: flex; }
      footer .ordenamiento .horarios h5, footer .ordenamiento .horarios .derechos-autor a, footer .ordenamiento .derechos-autor .horarios a, footer .ordenamiento .horarios .derechos-autor .redes .celular p, footer .ordenamiento .derechos-autor .redes .celular .horarios p, footer .ordenamiento .horarios .redes .celular .derechos-autor p, footer .ordenamiento .redes .celular .derechos-autor .horarios p, footer .ordenamiento .horarios p {
        font-size: 30px;
        color: white; }
        footer .ordenamiento .horarios h5::selection, footer .ordenamiento .horarios .derechos-autor a::selection, footer .ordenamiento .derechos-autor .horarios a::selection, footer .ordenamiento .horarios .derechos-autor .redes .celular p::selection, footer .ordenamiento .derechos-autor .redes .celular .horarios p::selection, footer .ordenamiento .horarios .redes .celular .derechos-autor p::selection, footer .ordenamiento .redes .celular .derechos-autor .horarios p::selection, footer .ordenamiento .horarios p::selection {
          background-color: #FFC68F;
          color: #1a1d1c; }
      footer .ordenamiento .horarios p {
        font-size: 20px;
        color: white; }

.carousel {
  z-index: -1000;
  overflow: hidden;
  height: 530px;
  width: 100%;
  margin-bottom: -31.25rem; }
  .carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    filter: brightness(40%); }
