$texto:(
    textoPrimario: black,
    textoSecundario: #FFC68F,
    textoTerciario: white,
    subtitulos: #FFC68F,
    textoHover: #D1FEF6
);
$fondos:(
    body: #CDB4B4,
    nav: #644E4E,
);
$botones:(
    boton: #644E4E,
    botonCard: grey,
    botonCardHover: #00BA99,
    botonfooter: #353535
)
