*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: map-get($fondos, body);
}
a{
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
li{
    list-style: none;
    &:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
    a{
        font-family: "Chela One", system-ui;
        font-weight: 400;
        font-style: normal;
        color: map-get($texto, textoSecundario);
        font-size: 18px;
        text-transform: uppercase;
        &:hover{
            color: map-get($texto, textoHover);
        }
    }
}
h1{
    font-size: 50px;
    &:hover{
        transform: scale(1.1);
        transition: .2s ease;
    }
    a{
        font-family: "Chela One", system-ui;
        font-weight: 400;
        font-style: normal;
        color: map-get($texto, textoSecundario);
    }
}
h2{
    text-align: center;
    font-family: "Chela One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: map-get($texto, subtitulos);
    text-shadow: 0rem .125rem .3125rem rgb(0, 0, 0);
    &::selection{
        background-color: map-get($fondos, nav);
    }
}
h3{
    font-family: "Chela One", system-ui;
    font-weight: 400;
    font-style: normal;
    &::selection{
        color: white;
        background-color: map-get($fondos, nav);
    }
}
h4{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    &::selection{
        color: white;
        background-color: map-get($fondos, nav);
    }
}
h5{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    &::selection{
        color: white;
        background-color: map-get($fondos, nav);
    }
}
button{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    &::selection{
        color: white;
        background-color: map-get($fondos, nav);
    }
}