main{
    .contenedor-alerta{
        display: none;
        .alerta-carrito{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 370px;
            height: 50px;
            background-color: rgba(255, 255, 255, 0.658);
            box-shadow: 0px 0px 5px black;
            position: fixed;
            top: 200px;
            left: 10px;
            z-index: 999;
            border-radius: 10px;
            animation: slide-in-blurred-left .6s cubic-bezier(.23,1.000,.32,1.000) both;
            @keyframes slide-in-blurred-left{0%{transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform-origin:100% 50%;filter:blur(40px);opacity:0}100%{transform:translateX(0) scaleY(1) scaleX(1);transform-origin:50% 50%;filter:blur(0);opacity:1}}
            .texto-alerta{
                margin: 0;
                font-size: 18px
            }
        }
    }
    .section-carrusel{
        @include flex(column, center, center, none);
        display: flex;
        .logocarrusel{
            @include flex(column, center, center, none);
            display: flex;
            margin-bottom: 6.25rem;
            img{
                width: 31.25rem;
                height: auto;
            }
            button{
                border: none;
                padding: .5rem 1.5625rem;
                color: map-get($texto, textoSecundario);
                background-color: map-get($botones, boton);
                &:hover{
                    background-color: white;
                    color: black;
                    transition: all .5s ease;
                }
            }
        }
        p{
            text-align: center;
            line-height: 1.4em;
            width: 45.625rem;
            font-size: 1.5rem;
        }
    }
    .menu{
        .subtitulos{
            font-size: 40px;
            text-transform: uppercase;
        } //! ACÁ EMPIEZA EL CÓDIGO RENOVADO
        .comidas-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 40px;
            .comida-item{
                @include flex(column, flex-end, center, none);
                display: flex;
                height: 25rem;
                width: 16.875rem;
                background: white;
                overflow: hidden;
                border: .625rem solid #644E4E;
                margin-bottom: 3.125rem;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 64%;
                    background-image: linear-gradient(to right, transparent 0%, white);
                    transform: skewX(0.08turn) translateX(-180%);
                }
                &:hover,
                &:focus-within{
                    &::after{
                        transform: skew(0.08turn) translateX(275%);
                        transition: 1000ms ease;
                    }
                }
                &:hover img{
                    transform: scale(1.1);
                    transition: .1s linear;
                }
                img{
                    height: 100%;
                    width: 100%;
                    background-color: #644E4E;
                    margin-bottom: .625rem;
                }
                button{
                    border: none;
                    height: auto;
                    width: 11.25rem;
                    border-radius: .3125rem;
                    padding: .3125rem .625rem;
                    color: white;
                    font-size: 20px;
                    line-height: 1em;
                    text-transform: uppercase;
                    background-color: map-get($botones, botonCard);
                    margin-bottom: .625rem;
                    &:hover{
                        background-color: map-get($botones, botonCardHover);
                        color: rgba(0, 17, 32, 0.829);
                        transition: 0.4s ease;
                    }
                }
            }
        }
        .bebidas-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 40px;
            .bebida-item{
                @include flex(column, flex-end, center, none);
                    display: flex;
                    height: 25rem;
                    width: 16.875rem;
                    background: white;
                    overflow: hidden;
                    border: .625rem solid #644E4E;
                    margin-bottom: 3.125rem;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 65%;
                        background-image: linear-gradient(to right, transparent 0%, white);
                        transform: skewX(0.08turn) translateX(-180%);
                    }
                    &:hover,
                    &:focus-within{
                        &::after{
                            transform: skew(0.08turn) translateX(275%);
                            transition: 1000ms ease;
                        }
                    }
                    &:hover img{
                        transform: scale(1.1);
                        transition: .1s linear;
                    }
                    img{
                        height: 100%;
                        width: 100%;
                        background-color: #644E4E;
                        margin-bottom: .625rem;
                    }
                    button{
                        border: none;
                        height: auto;
                        width: 11.25rem;
                        border-radius: .3125rem;
                        padding: .3125rem .625rem;
                        color: white;
                        font-size: 20px;
                        line-height: 1em;
                        text-transform: uppercase;
                        background-color: map-get($botones, botonCard);
                        margin-bottom: .625rem;
                        &:hover{
                            background-color: map-get($botones, botonCardHover);
                            color: rgba(0, 17, 32, 0.829);
                            transition: .2s ease;
                        }
                    }
                }
            }
        .combos-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 40px;
            .combo-item{
                @include flex(column, flex-end, center, none);
                display: flex;
                height: 25rem;
                width: 16.875rem;
                background: white;
                overflow: hidden;
                border: .625rem solid #644E4E;
                margin-bottom: 3.125rem;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 65%;
                    background-image: linear-gradient(to right, transparent 0%, white);
                    transform: skewX(0.08turn) translateX(-180%);
                }
                &:hover,
                &:focus-within{
                    &::after{
                        transform: skew(0.08turn) translateX(275%);
                        transition: 1000ms ease;
                    }
                }
                &:hover img{
                    transform: scale(1.1);
                    transition: .1s linear;
                }
                img{
                    height: 100%;
                    width: 100%;
                    background-color: #644E4E;
                    margin-bottom: .625rem;
                }
                button{
                    border: none;
                    height: auto;
                    width: 11.25rem;
                    border-radius: .3125rem;
                    padding: .3125rem .625rem;
                    color: white;
                    font-size: 20px;
                    line-height: 1em;
                    text-transform: uppercase;
                    background-color: map-get($botones, botonCard);
                    margin-bottom: .625rem;
                    &:hover{
                        background-color: map-get($botones, botonCardHover);
                        color: rgba(0, 17, 32, 0.829);
                        transition: .2s ease;
                    }
                }
            }
        }
        .ofertas-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 40px;
            .oferta-item{
                @include flex(column, flex-end, center, none);
                display: flex;
                height: 25rem;
                width: 16.875rem;
                background: white;
                overflow: hidden;
                border: .625rem solid #644E4E;
                margin-bottom: 3.125rem;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 65%;
                    background-image: linear-gradient(to right, transparent 0%, white);
                    transform: skewX(0.08turn) translateX(-180%);
                }
                &:hover,
                &:focus-within{
                    &::after{
                        transform: skew(0.08turn) translateX(275%);
                        transition: 1000ms ease;
                    }
                }
                &:hover img{
                    transform: scale(1.1);
                    transition: .1s linear;
                }
                img{
                    height: 100%;
                    width: 100%;
                    background-color: #644E4E;
                    margin-bottom: .625rem;
                }
                button{
                    border: none;
                    height: auto;
                    width: 11.25rem;
                    border-radius: .3125rem;
                    padding: .3125rem .625rem;
                    color: white;
                    font-size: 20px;
                    line-height: 1em;
                    text-transform: uppercase;
                    background-color: map-get($botones, botonCard);
                    margin-bottom: .625rem;
                    &:hover{
                        background-color: map-get($botones, botonCardHover);
                        color: rgba(0, 17, 32, 0.829);
                        transition: .2s ease;
                    }
                }
            }
        }
    }
    .buyCart{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .carrito-vacio{
            text-align: center;
            font-size: 20px;
            padding-top: 20px;
        }
        .carrito-total{
            text-align: right;
            font-size: 20px;
            padding-top: 20px;
            border-bottom: 2px groove rgba(27, 27, 27, 0.788);
            flex-grow: 1;
        }
        .comidas-cards, .bebidas-cards, .combos-cards, .ofertas-cards{
            width: 100%;
            padding: 20px;
            .card{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 8.75rem;
                overflow: hidden;
                box-shadow: 1px 1px 5px black;
                margin-bottom: .3125rem;
                border-radius: 5px 5px 20px 5px;
                img{
                    height: 100%;
                    width: auto;
                    background-color: #644E4E;
                    &:hover{
                        transform: scale(1.05);
                        transition: all .2s;
                    }
                }
                .card-product{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 30px;
                    h3, h4, p{
                        margin: 0;
                        font-size: 1.25rem;
                        padding-left: 10px;
                    }
                    h3{
                        font-size: 1.5rem;
                    }
                    .eliminar-producto{
                        border: none;
                        padding: 3px 12px;
                        border-radius: .3125rem;
                        color: white;
                        font-size: 20px;
                        text-transform: uppercase;
                        background-color: rgba(209, 52, 52, 0.897);
                        margin: 0 1.25rem;
                        &:hover{
                            box-shadow: 0px 0px 10px rgba(231, 2, 2, 0.897);
                            transition: .2s ease;
                        }
                    }
                }
            }
        }
        .confirmar-compra{
            display: none;
            border: none;
            border-radius: .3125rem;
            padding: 5px 20px;
            color: map-get($texto, textoSecundario);
            font-size: 20px;
            text-transform: uppercase;
            background-color: map-get($botones, boton);
            margin-bottom: 1.25rem;
            &:hover{
                background-color: rgb(46, 134, 51);
                color: rgb(255, 255, 255);
                transition: all .5s ease;
            }
        }
    }
}

//         .comidas{
//             section{
//                 @include flex(row, center, center, 1.25rem);
//                 display: flex;
//                 .comida-item{
//                     @include flex(column, flex-end, center, none);
//                     display: flex;
//                     height: 25rem;
//                     width: 16.875rem;
//                     background: white;
//                     overflow: hidden;
//                     border: .625rem solid #644E4E;
//                     margin-bottom: 3.125rem;
//                     position: relative;
//                     &::after{
//                         content: "";
//                         position: absolute;
//                         top: 0;
//                         left: 0;
//                         width: 50%;
//                         height: 64%;
//                         background-image: linear-gradient(to right, transparent 0%, white);
//                         transform: skewX(0.08turn) translateX(-180%);
//                     }
//                     &:hover,
//                     &:focus-within{
//                         &::after{
//                             transform: skew(0.08turn) translateX(275%);
//                             transition: 1000ms ease;
//                         }
//                     }
//                     &:hover img{
//                         transform: scale(1.1);
//                         transition: .1s linear;
//                     }
//                     img{
//                         height: 100%;
//                         width: 100%;
//                         background-color: #644E4E;
//                         margin-bottom: .625rem;
//                     }
//                     button{
//                         border: none;
//                         height: auto;
//                         width: 11.25rem;
//                         border-radius: .3125rem;
//                         padding: .3125rem .625rem;
//                         color: white;
//                         font-size: 20px;
//                         line-height: 1em;
//                         text-transform: uppercase;
//                         background-color: map-get($botones, botonCard);
//                         margin-bottom: .625rem;
//                         &:hover{
//                             background-color: map-get($botones, botonCardHover);
//                             color: rgba(0, 17, 32, 0.829);
//                             transition: .2s ease;
//                         }
//                     }
//                 }
//             }
//         }
//         .bebidas{
//             section{
//                 @include flex(row, center, center, 1.25rem);
//                 display: flex;
//                 .bebida-item{
//                     @include flex(column, flex-end, center, none);
//                     display: flex;
//                     height: 25rem;
//                     width: 16.875rem;
//                     background: white;
//                     overflow: hidden;
//                     border: .625rem solid #644E4E;
//                     margin-bottom: 3.125rem;
//                     position: relative;
//                     &::after{
//                         content: "";
//                         position: absolute;
//                         top: 0;
//                         left: 0;
//                         width: 50%;
//                         height: 65%;
//                         background-image: linear-gradient(to right, transparent 0%, white);
//                         transform: skewX(0.08turn) translateX(-180%);
//                     }
//                     &:hover,
//                     &:focus-within{
//                         &::after{
//                             transform: skew(0.08turn) translateX(275%);
//                             transition: 1000ms ease;
//                         }
//                     }
//                     &:hover img{
//                         transform: scale(1.1);
//                         transition: .1s linear;
//                     }
//                     img{
//                         height: 100%;
//                         width: 100%;
//                         background-color: #644E4E;
//                         margin-bottom: .625rem;
//                     }
//                     button{
//                         border: none;
//                         height: auto;
//                         width: 11.25rem;
//                         border-radius: .3125rem;
//                         padding: .3125rem .625rem;
//                         color: white;
//                         font-size: 20px;
//                         line-height: 1em;
//                         text-transform: uppercase;
//                         background-color: map-get($botones, botonCard);
//                         margin-bottom: .625rem;
//                         &:hover{
//                             background-color: map-get($botones, botonCardHover);
//                             color: rgba(0, 17, 32, 0.829);
//                             transition: .2s ease;
//                         }
//                     }
//                 }
//             }
//         }
//         .combos{
//             section{
//                 @include flex(row, center, center, 1.25rem);
//                 display: flex;
//                 .combo-item{
//                     @include flex(column, flex-end, center, none);
//                     display: flex;
//                     height: 25rem;
//                     width: 16.875rem;
//                     background: white;
//                     overflow: hidden;
//                     border: .625rem solid #644E4E;
//                     margin-bottom: 3.125rem;
//                     position: relative;
//                     &::after{
//                         content: "";
//                         position: absolute;
//                         top: 0;
//                         left: 0;
//                         width: 50%;
//                         height: 65%;
//                         background-image: linear-gradient(to right, transparent 0%, white);
//                         transform: skewX(0.08turn) translateX(-180%);
//                     }
//                     &:hover,
//                     &:focus-within{
//                         &::after{
//                             transform: skew(0.08turn) translateX(275%);
//                             transition: 1000ms ease;
//                         }
//                     }
//                     &:hover img{
//                         transform: scale(1.1);
//                         transition: .1s linear;
//                     }
//                     img{
//                         height: 100%;
//                         width: 100%;
//                         background-color: #644E4E;
//                         margin-bottom: .625rem;
//                     }
//                     button{
//                         border: none;
//                         height: auto;
//                         width: 11.25rem;
//                         border-radius: .3125rem;
//                         padding: .3125rem .625rem;
//                         color: white;
//                         font-size: 20px;
//                         line-height: 1em;
//                         text-transform: uppercase;
//                         background-color: map-get($botones, botonCard);
//                         margin-bottom: .625rem;
//                         &:hover{
//                             background-color: map-get($botones, botonCardHover);
//                             color: rgba(0, 17, 32, 0.829);
//                             transition: .2s ease;
//                         }
//                     }
//                 }
//             }
//         }
//         .ofertas{
//             section{
//                 @include flex(row, center, center, 1.25rem);
//                 display: flex;
//                 .oferta-item{
//                     @include flex(column, flex-end, center, none);
//                     display: flex;
//                     height: 25rem;
//                     width: 16.875rem;
//                     background: white;
//                     overflow: hidden;
//                     border: .625rem solid #644E4E;
//                     margin-bottom: 3.125rem;
//                     position: relative;
//                     &::after{
//                         content: "";
//                         position: absolute;
//                         top: 0;
//                         left: 0;
//                         width: 50%;
//                         height: 65%;
//                         background-image: linear-gradient(to right, transparent 0%, white);
//                         transform: skewX(0.08turn) translateX(-180%);
//                     }
//                     &:hover,
//                     &:focus-within{
//                         &::after{
//                             transform: skew(0.08turn) translateX(275%);
//                             transition: 1000ms ease;
//                         }
//                     }
//                     &:hover img{
//                         transform: scale(1.1);
//                         transition: .1s linear;
//                     }
//                     img{
//                         height: 100%;
//                         width: 100%;
//                         background-color: #644E4E;
//                         margin-bottom: .625rem;
//                     }
//                     button{
//                         border: none;
//                         height: auto;
//                         width: 11.25rem;
//                         border-radius: .3125rem;
//                         padding: .3125rem .625rem;
//                         color: white;
//                         font-size: 20px;
//                         line-height: 1em;
//                         text-transform: uppercase;
//                         background-color: map-get($botones, botonCard);
//                         margin-bottom: .625rem;
//                         &:hover{
//                             background-color: map-get($botones, botonCardHover);
//                             color: rgba(0, 17, 32, 0.829);
//                             transition: .2s ease;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .serv{
//         @include flex(column, center, center, none);
//         margin-bottom: 1.875rem;
//         .subtitulos{
//             font-size: 30px;
//             text-transform: uppercase;
//         }
//         div{
//             width: 95%;
//             font-size: 20px;
//         }
//         .terminos-y-condiciones{
//             color: map-get($texto, subtitulos);
//             text-shadow: 0px 2px 10px rgb(0, 0, 0);
//         }
//     }
//     .nosotros{
//         @include flex(column, center, center, none);
//         display: flex;
//         margin-bottom: 50px;
//         .subtitulos{
//             font-size: 30px;
//             text-transform: uppercase;
//         }
//         div{
//             width: 95%;
//             font-size: 20px;
//         }
//     }
//     .buyCart{
//         width: 100%;
//         h2{
//             text-transform: uppercase;
//         }
//         .carrito-vacio{
//             margin: 60px 0px;
//             text-align: center;
//             font-size: 24px;
//         }
//         .productosElegidos{
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: flex-start;
//             background-color: white;
//             div{
//                 display: flex;
//                 flex-direction: row;
//                 align-items: center;
//                 gap: 50px;
//                 width: 100%;
//                 height: 200px;
//                 border: 5px solid #644E4E;
//                 margin-bottom: 5px;
//                 background-color: #644e4e42;
//                 img{
//                     height: 100%;
//                     width: auto;
//                     background-color: #644E4E;
//                     box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.753);
//                 }
//             }
//         }
//     }
//     .mostrarAlerta{
//         display: none;
//         top: 150px;
//         left: 0;
//         position: fixed;
//         z-index: 1000;
//         background-color: rgba(119, 119, 119, 0.473);
//         height: 50px;
//         width: 350px;
//         border: 1px solid transparent;
//         border-radius: 5px;
//         animation: mostrarAlertaAnimacion 0.5s ease forwards;
//         @keyframes mostrarAlertaAnimacion {
//             0% {
//                 transform: translateX(-100);
//                 opacity: 0;
//             }
//             100% {
//                 transform: translateX(0);
//                 opacity: 1;
//             }
//         }
//         .textoAlerta{
//             margin-left: -195px;
//             margin-top: 10px;
//             text-shadow: 1px 1px 1px black;
//             font-size: 20px;
//             font-family: "Fira Sans", sans-serif;
//             font-weight: 400;
//             font-style: normal;
//             color: white;
//             font-weight: bold;
//         }
//     }
// }